/*设置主体布局*/
/* DIVCSS5-CSS初始化模板-www.divcss5.com */ 
body, div, address, blockquote, iframe, ul, ol, dl, dt, 
dd, li, dl, h1, h2, h3, h4, pre, table, caption, th, td, form, 
legend, fieldset, input, button, select, textarea,nav, #top-nav{margin:0; 
padding:0;font-style: normal;font:12px/22px Arial, Helvetica, sans-serif;box-sizing: border-box;} 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
.clear{clear:both;height:1px;width:100%; overflow:hidden; margin-top:-1px;} 
a{color:#FDFDFD;text-decoration:none; }  
a:hover{color:#BA2636;text-decoration:underline;} 
.red ,.red a{ color:#F00;} 
.lan ,.lan a{ color:#1E51A2;} 
body{font: 12px/1.5 "微软雅黑";background-color: #eee;min-width: 980px;}
#head {
	/*width: 1060px;*/
	position: relative;
	height: 80px;
	width: 100%;
	background: #787CCF;
	color: white;
}
.footer {
	width: 100%;
	height: 300px;
	background: #583838;
}
/*头部导航和logo样式*/
#nav-warp {
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
#logo {
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	font-size: 20px;
}

#top-nav {
	position: absolute;
	right: 0;
	bottom: 5px;
	color: white;
}
#top-nav li{
    display: inline;
}
#top-nav a{
	display: inline-block;
    margin-left:28px;
    font: 14px "宋体" ;
}

.icon {
	position: absolute;
	right: 10px;
	bottom: 0
}
#icon-github {
	height: 30px;
	width: 30px;
}
@media (max-width: 1000px;) {
	#icon-github{
		display: none;
	}
}
/*背景墙及内容*/
#background {
	min-width: 100%;
	height: 500px;
}
#subcontainer {
	position: relative;
	margin: 0 auto;
	width: 980px;
}
/*因为父元素没有指定高度，子容易脱离文档流之后，父容器便没了高度，但是子容器还是能用它定位*/
#subcontent {
	position:absolute;
	right: 0; 
	bottom: 0;
	width: 360px;
	height: 130px;
	padding: 10px 10px 30px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
	/*background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
}
#subcontent h3 {
	text-align: right;
	font-size: 14px;
	margin-right: 0; 
	margin-bottom: 12px;
}
#subcontent p {
	font-size: 12px;
	line-height: 150%;
}
/*#picture {
	background: gray;
}*/
#picture {
	position: relative;
	width: 980px;
	margin: 0 auto;
	border: 1px solid red;
}
/*#three {
	margin-top: 10px;
	margin-bottom: 110px;
	overflow: hidden;
	position: relative;
	top: 10px;
	/*height: 300px;*/
	/*overflow: hidden;*/
}
/*.three-pic {
	width: 320px;
	padding: 10px
}
.pic-one {
	position: absolute;
	left: 0;
	top: 10px;
	border: 1px solid red;
}*/
/*.pic-two {
	position: absolute;
	left: 330;
	top: 10px;
	border: 1px solid red;
}
.pic-three {
	position: absolute;
	right: 0;
	top: 10px;
	border: 1px solid red;
}*/
/*.post {
	width: 300px;
	height: 180px;
}*/
#introduce{
	width: 100%;
	height: 360px;
	background: white;
}